/* .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
} */

.container {
    width: 100%;
}

.headernav {
    text-align: center;
    list-style: none;
}

.li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}
