.body {
    background-color: rgb(243, 243, 243) ;
    position: relative;
    height: 100%;
}

.name {
    text-align: center;
    padding-top: 2%;
}

.img {
    width: 250px;
    height: 180px;
    margin: 2%;
}

.box {
    display:flex;
    justify-content: center; 
    align-items: center; 
}